.DS_Store
.env
/node_modules/

# React Router
/.react-router/
/build/

# Server-side temp data
/data/

# Local dev plugins
/plugins/

# Terraform
terraform/.terraform/
terraform/*.tfstate*
terraform/terraform.tfvars
terraform/tfplan
terraform/environments/*/.terraform/
terraform/environments/*/*.tfstate*
terraform/environments/*/terraform.tfvars
terraform/environments/*/tfplan
